<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel panel-heading clearfix">
        <div class="pull-left">
          <h4></h4>
          <img src="" alt="">
        </div>        
        <div class="btn-toolbar pull-right">
          <button class="btn btn-primary">Edit</button>
          <button class="btn btn-danger">Delete</button>        
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
              <p>Email:</p>
              <p>Phone:</p> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>