<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="row">
          <div class="container-fluid">
            <h1 class="pull-left">MyBooks</h1>
            <a [routerLink]="['./new']" class="btn btn-warning pull-right"><span class="glyphicon glyphicon-plus"></span></a>  
          </div>          
        </div>
        <div class="row">
          <div class="col-xs-12">
            <input
            type="text"
            class="form-control" 
            (keyup)="search(searchBox.value)"
            placeholder="Enter a search value"
            #searchBox>           
          </div>
        </div>
      </div>

      <div class="panel-body">
        <app-book-item *ngFor="let book of books | booksFilter: term" [book]="book">          
        </app-book-item>
      </div>

    </div>
  </div>
</div>
